# # ==========================================
# # 1. Unity (unity)
# # ==========================================
/unity/headset_layer/[Ll]ibrary/
/unity/headset_layer/[Tt]emp/
/unity/headset_layer/[Oo]bj/
/unity/headset_layer/[Bb]uild/
/unity/headset_layer/[Bb]uilds/
/unity/headset_layer/[Ll]ogs/
/unity/headset_layer/[Mm]emoryCaptures/
/unity/headset_layer/UserSettings/
/unity/headset_layer/ProjectSettings/

/unity/headset_layer/*.csproj
/unity/headset_layer/*.sln
/unity/headset_layer/*.unityproj
/unity/headset_layer/*.userprefs

# ==========================================
# 2. Isaac Sim & Python (isaac)
# ==========================================
**/__pycache__/
*.py[cod]
*$py.class
/[Ii]saac/logs/
/[Ii]saac/data/
/[Ii]saac/cache/

.isaac_sim_last_run
.ov/

# ==========================================
# 3. ROS 2 (ros2_ws)
# ==========================================
/[Rr]os2_ws/build/
/[Rr]os2_ws/install/
/[Rr]os2_ws/log/

# ==========================================
# 4. OS & Editors 
# ==========================================
.DS_Store
.DS_Store?
[Tt]humbs.db
.vscode/
.idea/
*.swp
*.bak
*.tmp

# ==========================================
# 5. Git LFS 
# ==========================================
# *.usd
# *.usda
# *.usdc
# *.fbx
# *.asset
# *.unitypackage

unity/headset_layer/unity_log.jsonl

unity/headset_layer/Assets/TextMesh Pro/

unity/headset_layer/Assets/Samples/

unity/headset_layer/Assets/Samples.meta

*.user

*.json1
